@import 'font';
@import 'reset';
@import 'variable';
@import 'mixin';

html {
    &.scroll-top {
        .wadiz {
            &__header {
                top: 0;
                &__web {
                    display: block;
                }
            }
        }
    }
}
.wadiz {
    &__wrapper {
        transform-origin: 50% 0;
        transition-property: opacity,transform;
        transition-duration: 80ms;
        transition-timing-function: ease-out;
    }
    &__header {
        z-index: 99;
        position: static;
        top: -48px;
        width: 100%;
        transition: all .25s;
        &__web {
            display: none;
            &__wrapper {
                z-index: 9998;
                position: relative;
                top: 0;
                width: 100%;
                height: 56px;
                border-bottom: 1px solid #f0f2f5;
                padding: 0;
                background-color: #fff;
            }
            &__container {
                max-width: 1440px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                margin: 0 auto;
                padding: 0 60px;
                .header{
                    &__left {
                        display: flex;
                        align-items: center;
                        h1 {
                            position: absolute;
                            top: 0;
                            left: 16px;
                            display: inline-block;
                            margin: 0;
                            line-height: 22px;
                            font-size: 32px;
                            a {
                                display: block;
                                padding: 11px 0 13px;
                                .label {
                                    display: block;
                                    position: absolute;
                                    left: -9999px;
                                    visibility: none;
                                    height: 1px;
                                }
                            }
                            @include min1097 {
                                position: static;
                                a {
                                    padding: 14px 0 18px;
                                }
                            }
                        }
                        ul {
                            display: flex;
                            align-items: center;
                            margin-left: 24px;
                            li {
                                a {
                                    position: relative;
                                    font-size: 20px;
                                    font-weight: 700;
                                    line-height: 30px;
                                    text-decoration: none;
                                    color: $font-black;
                                    transition: .2s;
                                    padding: 14px 16px;
                                }
                            }
                        }
                    }

                    &__right {

                    }
                }
            }
        }
    }
    &__visual {
        position: relative;
        height: 300vh;
        transition: .3s;
        margin-bottom: 100vh;
        &__image {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: linear-gradient(rgba(0,0,0,.25),rgba(0,0,0,.25)),
                            url(https://static.wadiz.kr/landing/media/keyvisual-background-desktop.5d6149b7.jpg);
            background-repeat: no-repeat;
            background-position: 50%;
            background-size: cover;
        }
        &__label {
            position: fixed;
            top: 200px;
            text-align: center;
            left: 50%;
            font-weight: bold;
            color: $font-white;
            transform: translateX(-50%);
            span {
                font-size: 2.5rem;
            }
            p {
                margin-top: 1rem;
                font-size: 2.25rem;
            }
        }
        &__title {
            position: fixed;
            top: 342px;
            left: 50%;
            transform: translateX(-50%);
            h1 {
                font-size: 8rem;
                font-weight: 700;
                text-align: center;
                color: $font-white;
                letter-spacing: 0.375rem;
            }
        }
    }
    &__gift {
        z-index: 100;
        position: relative;
        padding: 80px 0;
        background-color: #fff;
        &__inner {
            color: $font-black;
            padding: 0 24px;
            &__title {
                text-align: center;
                margin-bottom: 64px;
                h3 {
                    font-size: 36px;
                    line-height: 48px;
                    font-weight: 700;
                    color: $font-black;
                    margin-bottom: 24px;
                    span {
                        display: block;
                        font-size: 16px;
                        font-weight: 400;
                        line-height: 28px;
                        padding-bottom: 4px;
                    }
                }
                p {
                    font-size: 16px;
                    font-weight: 400;
                    line-height: 28px;
                    color: #495057;
                    span {
                        display: block;
                    }
                }
                strong {
                    letter-spacing: -.6px;
                    line-height: 30px;
                    font-size: 20px;
                    font-weight: 700;
                    margin-top: 16px;
                }
            }
            ul {
                padding-bottom: 6px;
                background-color: #fff;
                li {
                    position: relative;
                    margin-bottom: 32px;
                    height: 128px;
                    overflow: hidden;
                    .product {
                        display: inline-flex;
                        align-items: center;
                        .img-wrap {
                            display: block;
                            width: 120px;
                            height: 120px;
                            margin-right: 24px;
                            img {
                                width: 100%;
                            }
                        }
                        .detail {
                            flex: 1 1;
                            h3 {
                                font-size: 18px;
                                font-weight: 700;
                                margin: 0 0 4px;
                                word-break: keep-all;
                                overflow-wrap: break-word;
                                line-height: 28px;
                            }
                            h5 {
                                font-size: 16px;
                                font-weight: 700;
                                line-height: 28px;
                                color: #495057;
                                span {
                                    font-size: 14px;
                                    font-weight: 500;
                                    line-height: 20px;
                                    color: #adb5bd;
                                    padding-right: 4px;
                                }
                            }
                            p {
                                line-height: 28px;
                                letter-spacing: -.3px;
                                font-size: 16px;
                                font-weight: 700;
                                border-radius: 5px;
                                background-color: #e7f9f9;
                                padding: 0 12px;
                                color: #00b2b2;
                            }
                        }
                    }
                }
            }
        }
        @include unMobile {
            text-align: center;
            &__inner {
                &__title {
                    h3 {
                        font-size: 40px;
                        line-height: 52px;
                        font-weight: 700;
                    }
                    p {
                        span {
                            display: inline;
                        }
                    }
                    strong {
                        display: block;
                        line-height: 34px;
                        font-size: 24px;
                        font-weight: 700;
                    }
                }
                ul {
                    max-width: 1000px;
                    margin: 0 auto;
                    padding-bottom: 0;
                    text-align: center;
                    li {
                        display: inline-block;
                        width: 200px;
                        height: auto;
                        margin: 0 40px 64px;
                        padding-left: 0;
                        .product {
                            display: inline-block;
                            .img-wrap {
                                width: 200px;
                                height: 200px;
                                margin-right: 0;
                            }
                            .detail {
                                text-align: center;
                                h3 {
                                    margin-top: 31px;
                                }
                                h5 {
                                    margin-bottom: 0;
                                }
                                p {
                                    display: block;
                                    position: absolute;
                                    top: 185px;
                                    left: 50%;
                                    transform: translateX(-50%);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    &__trend {
        &__share {
            position: relative;
            text-align: center;
            padding: 120px 0;
            background-position: 50%;
            background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('#{$img-path}/img_share_background.jpg');
            background-repeat: no-repeat;
            background-size: cover;
            h2 {
                font-size: 24px;
                font-weight: 700;
                color: $font-white;
                line-height: 34px;
                margin-bottom: 24px;
            }
            button {
                width: 56px;
                height: 56px;
                font-size: 25px;
                color: $font-white;
                outline: none;
                margin: 0 12px;
                padding: 0;
                border: 1px solid #adb5bd;
                border-radius: 50%;
                background: rgba(255, 255, 255, 0.1);
                transition: all .3s;
                cursor: pointer;
                &:hover {
                    background: rgba(255, 255, 255, 0.2);
                }

                svg {
                    display: block;
                    transition: transform .3s ease-out;
                    transform: scale(1);
                    width: 1em;
                    height: 1em;
                    margin: auto;
                    fill: currentColor;
                }
                @include boxSizing(border-box);
            }
            @include min1097 {
                h2 {
                    font-size: 32px;
                    line-height: 44px;
                    margin-bottom: 40px;
                }
            }
        }
        &__action {
            z-index: 100;
            position: fixed;
            right: 0;
            left: 0;
            bottom: 0;
            background: #fff;
            &__inner {
                display: flex;
                align-items: center;
                justify-content: space-between;
                max-width: 1000px;
                margin: auto;
                padding: 16px 0;
                &__text {
                    font-size: 18px;
                    line-height: 20px;
                    font-weight: 700;
                    color: $font-black;
                }
                button {
                    position: relative;
                    appearance: none;
                    line-height: 1.75;
                    font-size: 16px;
                    font-weight: 700;
                    text-align: center;
                    color: $font-white;
                    padding: 9px 24px;
                    border: none;
                    border: 1px solid #00c4c4;
                    border-radius: 3px;
                    background-color: #00c4c4;
                    transition: .3s;
                    box-sizing: border-box;
                    outline: none;
                    cursor: pointer;
                    &:hover {
                        border-color: #00b2b2;;
                        background-color: #00b2b2;;
                    }
                }
            }
            @include unMobile {
                box-shadow: 0 -3px 3px -1px rgb(10 22 70 / 10%), 0 0 5px 0 rgb(10 22 70 / 6%);
                &__inner {
                    button {
                        width: 350px;
                    }
                }
            }
        }
    }
    &__footer {
        font-size: 12px;
        padding-top: 120px;
        background: #fff;
        &.inner-utils {
            position: relative;
        }
        &__menu {
            border-top: 1px solid #e6eaed;
            border-bottom: 1px solid #e6eaed;
            text-align: left;
            @include min1097 {
                height: 56px;
            }
            &__bar {
                display: flex;
                align-items: center;
                justify-content: space-between;
                padding: 16px 0 8px;
                @include min1097{
                    max-width: 1440px;
                    margin: 8px auto;
                    padding: 0 80px
                };
                .btn {
                    display: inline-block;
                    cursor: pointer;
                    padding-left: 16px;
                    width: 50%;
                    height: 40px;
                    text-align: left;
                    line-height: 40px;
                    color: rgba(0,0,0,.84);
                    font-size: 14px;
                    &.btnCenter {
                        display: flex;
                        align-items: center;
                        svg {
                            display: inline-block;
                            width: 1em;
                            height: 1em;
                            margin-left: 4px;
                            vertical-align: text-top;
                        }
                    }
                    &.btnPrivacy {
                        font-weight: 700;
                    }

                    @include min1097 {
                        margin-right: 24px;
                        padding: 0 8px;
                        width: auto;
                    }
                    .chevron-right {
                        display: inline-block!important;
                        transform: rotate(90deg);
                        margin-left: 4px;
                        color: rgba(0,0,0,.54);
                    }
                }
                &__left {
                    display: flex;
                    align-items: center;
                }
                &__right {
                    display: flex;
                    align-items: center;
                }
            }
        }

        // 푸터 하단 부분
        &__container {
            color: #7c8288;
            padding: 24px 16px 160px;
            .infoSection {
                margin-bottom: 16px;
                &__inner {
                    &__cell {
                        display: inline-block;
                        line-height: 20px;
                        word-break: keep-all;
                        word-wrap: break-word;
                        button {
                            width: 157px;
                            line-height: 40px;
                            font-size: 14px;
                            font-weight: 500;
                            color: #fff;
                            letter-spacing: 0;
                            margin-bottom: 12px;
                            border-radius: 28px;
                            vertical-align: middle;
                            background: $font-black;
                            svg {
                                display: inline-block;
                                width: 16px;
                                height: 16px;
                                vertical-align: middle;
                                margin: -2px 6px 0 0;
                            }
                        }
                        &.callCenter {
                            em {
                                display: block;
                                letter-spacing: -.2px;
                                font-size: 12px;
                                line-height: 18px;
                                font-weight: 700;
                                color: #495057;
                            }
                            ul {
                                li {
                                    text-align: left;
                                    padding-left: 0;
                                    &:last-child {
                                        &::before {
                                            display: none;
                                        }
                                    }
                                }
                            }
                            p {
                                font-size: 10px;
                                margin-top: 16px;
                            }
                        }
                        &__corp {
                            line-height: 22.5px;
                            li {
                                display: inline-block;
                                word-break: keep-all;
                                word-wrap: break-word;
                                &::after {
                                    content: "";
                                    background: $font-grey;
                                    display: inline-block;
                                    width: 1px;
                                    height: 10px;
                                    margin: 0 7px;
                                    vertical-align: -1px;
                                }
                            }
                        }
                        address {
                            display: inline-block;
                            margin-top: 16px;
                            color: rgba(0,0,0,.84);
                            font-weight: 900;
                        }
                    }
                    &__call {
                        max-width: 320px;
                        ul {
                            li {
                                position: relative;
                                display: inline-block;
                                min-width: 130px;
                                text-align: center;
                                padding: 0 8px;
                                @include boxSizing(content-box);
                                &:first-child {
                                    padding-right: 8px;
                                }
                                &:last-child {
                                    &::before {
                                        content: "";
                                        position: absolute;
                                        top: 4px;
                                        bottom: 4px;
                                        left: 0;
                                        background-color: #dde2e6;
                                        width: 1px;
                                    }
                                }
                                em {
                                    display: block;
                                    line-height: 18px;
                                    letter-spacing: 0;
                                    font-size: 12px;
                                    font-weight: 700;
                                    letter-spacing: -.2px;
                                    color: #495057;
                                }
                                span {
                                    display: block;
                                    line-height: 28px;
                                    letter-spacing: -.3px;
                                    font-size: 16px;
                                    font-weight: 700;
                                    color: #212529;
                                    margin-top: 4px;
                                }
                            }
                        }
                        p {
                            margin: 8px 0 24px;
                            color: $font-grey;
                        }
                    }
                    &__contact {
                        margin-bottom: 13px;
                        vertical-align: top;
                    }
                }
                &.third {
                    &__inner {

                    }
                }
            }
            @include min1097 {
                padding: 0;
                &__inner {
                    position: relative;
                    display: flex;
                    max-width: 1440px;
                    margin: 0 auto;
                    padding: 0 80px;
                }
                .infoSection {
                    @include boxSizing(content-box);
                    margin-bottom: 0;
                    padding-right: 80px;
                    &.first {
                        max-width: 510px;
                        width: calc(50% - 90px);
                        margin-bottom: 0;
                    }
                    &.second {
                        width: 50%;
                        max-width: 364px;
                        padding-right: 20px;
                    }
                    &.third {
                        a {
                            display: inline-block;
                            width: 50%;
                            padding: 15px 0;
                            text-align: center;
                        }
                    }
                    &__inner {
                        padding: 32px 0;
                        &__cell {
                            button {
                                width: 187px;
                                line-height: 48px;
                                font-size: 16px;
                                font-weight: 500;
                                margin-right: 24px;
                                margin-bottom: 0;
                                letter-spacing: -.3px;
                                svg {
                                    width: 20px;
                                    height: 20px;
                                }
                            }
                            &__corp {
                                li {
                                    &:last-child {
                                        &::after {
                                            display: none;
                                        }
                                    }
                                }
                            }
                            address {
                                margin-top: 0;
                            }
                        }
                        &__call {
                            display: inline-block;
                            width: 295px;
                        }

                        &.third__inner {
                            position: absolute;
                            top: 30px;
                            a {
                                width: 120px;
                            }
                        }
                    }
                }
            }
        }
    }
}